<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ogrenci_bilgi_sistemi_pc.Properties.Settings.ogrenci_bilgi_sistemiConnectionString"
            connectionString="Data Source=SENA;Initial Catalog=ogrenci_bilgi_sistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ogrenci_bilgi_sistemi_pc.Properties.Settings.StudentInfoSystemConnectionString"
            connectionString="Data Source=SENA;Initial Catalog=StudentInfoSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>